
@model Vidley.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <text> No one have rented this movie before </text>
}
else
{

<ul>
@foreach(var cust in Model.Customers)
{
   <li>@cust.Name</li>
}
</ul>
}

